<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="FontFamily" value="" />
        <add key="ListBoxFontSize" value="" />

        <!-- デフォルトは30,000ミリ秒 -->
        <add key="AutoReloadingIntervalInMilliseconds" value="" />
        
        <!-- デフォルトは False -->
        <add key="IsLogging" value="" />
    </appSettings>
</configuration>
